<mat-nav-list class="sidenavbar">
  <a mat-list-item routerLink="/home" routerLinkActive="active-list-item" (click)="closeMenu()">
    <mat-icon matListItemIcon>home</mat-icon>
    <span matListItemTitle>Főoldal</span>
  </a>
  @if(isLoggedIn){
    <a mat-list-item routerLink="/upload" routerLinkActive="active-list-item" (click)="closeMenu()">
      <mat-icon matListItemIcon>arrow_circle_up</mat-icon>
      <span matListItemTitle>Feltöltés</span>
    </a>
  }
  @if (isLoggedIn) {
    <a mat-list-item routerLink="/profile" routerLinkActive="active-list-item" (click)="closeMenu()">
      <mat-icon matListItemIcon>account_circle</mat-icon>
      <span matListItemTitle>Profil</span>
    </a>
  }
  @if (!isLoggedIn) {
    <a mat-list-item routerLink="/login" routerLinkActive="active-list-item" (click)="closeMenu()">
      <mat-icon matListItemIcon>login</mat-icon>
      <span matListItemTitle>Bejelentkezés</span>
    </a>
  }
  @if (!isLoggedIn) {
    <a mat-list-item routerLink="/signup" routerLinkActive="active-list-item" (click)="closeMenu()">
      <mat-icon matListItemIcon>login</mat-icon>
      <span matListItemTitle>Regisztráció</span>
    </a>
  }
  @if (isLoggedIn) {
    <a mat-list-item (click)="logout()">
      <mat-icon matListItemIcon>logout</mat-icon>
      <span matListItemTitle>Logout</span>
    </a>
  }
</mat-nav-list>
