<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu [sidenav]="sidenav"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        mat-button
        (click)="onToggleSidenav(sidenav)"
        class="menu-toggle-button">
        <mat-icon>menu</mat-icon>
      </button>
      <img class="logo" src="img/logo3.png" alt="asd">
      <span style="font-size: 18px; font-weight: 500;">SoundClone</span>
      <nav>
        <ul>
          <li><a routerLink="/home">
            <mat-icon matListItemIcon>home</mat-icon>Főoldal</a></li>

          @if (isLoggedIn) {
            <li><a routerLink="/upload">
              <mat-icon matListItemIcon></mat-icon>
              Feltöltés</a></li>
          }

          @if (isLoggedIn) {
            <li><a routerLink="/profile">
              <mat-icon matListItemIcon>person</mat-icon>
              Profil</a></li>
          }

          @if (!isLoggedIn) {
            <li><a routerLink="/login">
              <mat-icon matListItemIcon>login</mat-icon>
              Bejelentkezés</a></li>
          }
          @if (!isLoggedIn) {
            <li><a routerLink="/signup">
              <mat-icon matListItemIcon>login</mat-icon>
              Regisztráció</a></li>
          }

          @if (isLoggedIn) {
            <li><a href="#" (click)="$event.preventDefault(); logout()">
              <mat-icon matListItemIcon>logout</mat-icon>
              Kijelentkezés</a></li>
          }
        </ul>
      </nav>
    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>



