<section class="home">

    <div class='air air1'></div>
    <div class='air air2'></div>
    <div class='air air3'></div>
    <div class='air air4'></div>

  <div class="container">
    <img src="img/logo3.png" >
    <h1>Üdvözöllek a SoundClone-on</h1>


    <mat-card>
      <mat-card-title>Zenei kínálatunk:</mat-card-title>
      <app-filter (filterChanged)="applyFilter($event)"></app-filter>
      <mat-list>
        <mat-list-item
          *ngFor="let song of filteredSongs"
          (click)="selectSong(song)"
          [ngClass]="{'selected': song.id === selectedSong?.id}">
          <img style="width: 5%; margin-right: 20px" src="img/default_album_cover.png">

          <span>{{ song.artistNev }} - {{ song.cim }}  |  {{ song.hossz | zenehossz}} </span>

          <mat-icon>play_arrow</mat-icon>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
</section>

