@import '@angular/material/prebuilt-themes/indigo-pink.css';
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
@media (max-width: 600px) {
  mat-toolbar {
    flex-direction: column;
    padding: 10px;
  }
}
